In [1]:
import struct
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('coalv2.csv')
df.head()

,moistr,volmat,fixedc,ash,hydrgn,carbon,nitrgn,oxygen,sulfur,gcv
0,6.98,33.02,57.42,2.58,5.14,71.80,1.13,18.91,0.44,12312
1,11.15,26.39,58.32,4.14,5.05,66.71,1.40,22.10,0.60,11290
2,2.38,29.88,54.64,13.10,4.66,69.69,1.25,6.07,5.23,12674
3,3.38,28.61,40.39,27.62,4.30,55.02,1.15,6.78,5.13,10130
4,10.67,27.92,54.50,6.91,5.43,70.17,1.54,14.80,1.15,12559

In [3]:
x = df.iloc[:, :-1]
y = df.iloc[:, -1]
x.head()

   moistr  volmat  fixedc    ash  hydrgn  carbon  nitrgn  oxygen  sulfur
0    6.98   33.02   57.42   2.58    5.14   71.80    1.13   18.91    0.44
1   11.15   26.39   58.32   4.14    5.05   66.71    1.40   22.10    0.60
2    2.38   29.88   54.64  13.10    4.66   69.69    1.25    6.07    5.23
3    3.38   28.61   40.39  27.62    4.30   55.02    1.15    6.78    5.13
4   10.67   27.92   54.50   6.91    5.43   70.17    1.54   14.80    1.15

In [4]:
y.head()

0    12312
1    11290
2    12674
3    10130
4    12559
Name: gcv, dtype: int64

In [5]:
# taking every column values and storing it into a python list
moistr =[v for v in x['moistr']]
volmat =[v for v in x['volmat']]
fixedc =[v for v in x['fixedc']]
ash =[v for v in x['ash']]
hydrgn =[v for v in x['hydrgn']]
carbon =[v for v in x['carbon']]
nitrgn =[v for v in x['nitrgn']]
oxygen =[v for v in x['oxygen']]
sulfur =[v for v in x['sulfur']]

In [6]:
moistr_b = []
volmat_b = []
fixedc_b = []
ash_b = []
hydrgn_b = []
carbon_b = []
nitrgn_b = []
oxygen_b = []
sulfur_b = []

In [7]:
# function for converting floating point value to 32 bit binary
def float_to_bin(num):
    return format(struct.unpack('!I', struct.pack('!f', num))[0], '032b')

# code for converting float to 32-bit binary and adding in new list
for num in moistr:
  moistr_b.append(float_to_bin(num))


for num in volmat:
  volmat_b.append(float_to_bin(num))


for num in fixedc:
  fixedc_b.append(float_to_bin(num))


for num in ash:
  ash_b.append(float_to_bin(num))


for num in hydrgn:
  hydrgn_b.append(float_to_bin(num))


for num in carbon:
  carbon_b.append(float_to_bin(num))


for num in nitrgn:
  nitrgn_b.append(float_to_bin(num))


for num in oxygen:
  oxygen_b.append(float_to_bin(num))


for num in sulfur:
  sulfur_b.append(float_to_bin(num))

In [8]:
# creating a dataframe with all the binary values
df2 = pd.DataFrame(zip(moistr_b, volmat_b, fixedc_b, ash_b, hydrgn_b, carbon_b, nitrgn_b, oxygen_b, sulfur_b), 
               columns =['moistr', 'volmat', 'fixedc', 'ash', 'hydrgn', 'carbon', 'nitrgn',
       'oxygen', 'sulfur']) 
print(df2.shape)
df2.head(10)

(6582, 9)

,moistr,volmat,fixedc,ash,hydrgn,carbon,nitrgn,oxygen,sulfur
0,01000000110111110101110000101001,01000010000001000001010001111011,01000010011001011010111000010100,01000000001001010001111010111000,01000000101001000111101011100001,01000010100011111001100110011010,00111111100100001010001111010111,01000001100101110100011110101110,00111110111000010100011110101110
1,01000001001100100110011001100110,01000001110100110001111010111000,01000010011010010100011110101110,01000000100001000111101011100001,01000000101000011001100110011010,01000010100001010110101110000101,00111111101100110011001100110011,01000001101100001100110011001101,00111111000110011001100110011010
2,01000000000110000101000111101100,01000001111011110000101000111101,01000010010110101000111101011100,01000001010100011001100110011010,01000000100101010001111010111000,01000010100010110110000101001000,00111111101000000000000000000000,01000000110000100011110101110001,01000000101001110101110000101001
3,01000000010110000101000111101100,01000001111001001110000101001000,01000010001000011000111101011100,01000001110111001111010111000011,01000000100010011001100110011010,01000010010111000001010001111011,00111111100100110011001100110011,01000000110110001111010111000011,01000000101001000010100011110110
4,01000001001010101011100001010010,01000001110111110101110000101001,01000010010110100000000000000000,01000000110111010001111010111000,01000000101011011100001010001111,01000010100011000101011100001010,00111111110001010001111010111000,01000001011011001100110011001101,00111111100100110011001100110011
5,01000000010001011100001010001111,01000001110011101111010111000011,01000010010111100001010001111011,01000001011110000101000111101100,01000000100100001111010111000011,01000010100010101101011100001010,00111111101000010100011110101110,01000001000000000000000000000000,00111111101000101000111101011100
6,00111111110110011001100110011010,01000001101100110011001100110011,01000010011111101100110011001101,01000001010000110011001100110011,01000000100100110011001100110011,01000010100101111100110011001101,00111111110000000000000000000000,01000000101010011001100110011010,00111111000000000000000000000000
7,00111111110110011001100110011010,01000001100110100110011001100110,01000010100010111001100110011010,01000001000100110011001100110011,01000000100100000000000000000000,01000010100111010011001100110011,00111111110000000000000000000000,01000000101010011001100110011010,00111111011001100110011001100110
8,00111111110000000000000000000000,01000001101011100110011001100110,01000010100011101100110011001101,01000000101010011001100110011010,01000000100100000000000000000000,01000010101000111100110011001101,00111111101100110011001100110011,01000000110000110011001100110011,00111111010011001100110011001101
9,01000000001010101110000101001000,01000001101010001000111101011100,01000010100100010000101000111101,01000000011011110101110000101001,01000000100100001111010111000011,01000010101001101111101011100001,00111111110010111000010100011111,01000000101011001100110011001101,00111111101000000000000000000000

In [9]:
# transposing the dataframe
df3 = df2.transpose()
df3.head(10)

,0,1,2,3,4,5,6,7,8,9,...,6572,6573,6574,6575,6576,6577,6578,6579,6580,6581
moistr,01000000110111110101110000101001,01000001001100100110011001100110,01000000000110000101000111101100,01000000010110000101000111101100,01000001001010101011100001010010,01000000010001011100001010001111,00111111110110011001100110011010,00111111110110011001100110011010,00111111110000000000000000000000,01000000001010101110000101001000,...,01000001010000011001100110011010,01000001011011100110011001100110,01000000101100110011001100110011,01000000110101111010111000010100,01000000110110011001100110011010,01000000101010011001100110011010,01000000101110011001100110011010,01000000101001100110011001100110,01000000110000000000000000000000,01000000101100000000000000000000
volmat,01000010000001000001010001111011,01000001110100110001111010111000,01000001111011110000101000111101,01000001111001001110000101001000,01000001110111110101110000101001,01000001110011101111010111000011,01000001101100110011001100110011,01000001100110100110011001100110,01000001101011100110011001100110,01000001101010001000111101011100,...,01000010001000000110011001100110,01000010000110100000000000000000,01000010000011100000000000000000,01000010000100000101000111101100,01000001111111110011001100110011,01000010000100000000000000000000,01000010000100000110011001100110,01000001111110001100110011001101,01000010000001011001100110011010,01000010000000010011001100110011
fixedc,01000010011001011010111000010100,01000010011010010100011110101110,01000010010110101000111101011100,01000010001000011000111101011100,01000010010110100000000000000000,01000010010111100001010001111011,01000010011111101100110011001101,01000010100010111001100110011010,01000010100011101100110011001101,01000010100100010000101000111101,...,01000010000101111001100110011010,01000010000011010011001100110011,01000010001100010011001100110011,01000010001111101011100001010010,01000010001010101100110011001101,01000010001100101100110011001101,01000010001111000110011001100110,01000010001000101100110011001101,01000010001011011001100110011010,01000010001101011001100110011010
ash,01000000001001010001111010111000,01000000100001000111101011100001,01000001010100011001100110011010,01000001110111001111010111000011,01000000110111010001111010111000,01000001011110000101000111101100,01000001010000110011001100110011,01000001000100110011001100110011,01000000101010011001100110011010,01000000011011110101110000101001,...,01000001000111100110011001100110,01000001001101001100110011001101,01000001011010011001100110011010,01000001000101111101011100001010,01000001100101001100110011001101,01000001011000000000000000000000,01000001001100000000000000000000,01000001101110000000000000000000,01000001100010011001100110011010,01000001100001100110011001100110
hydrgn,01000000101001000111101011100001,01000000101000011001100110011010,01000000100101010001111010111000,01000000100010011001100110011010,01000000101011011100001010001111,01000000100100001111010111000011,01000000100100110011001100110011,01000000100100000000000000000000,01000000100100000000000000000000,01000000100100001111010111000011,...,01000000101100110011001100110011,01000000101101100110011001100110,01000000101011001100110011001101,01000000101100001111010111000011,01000000101000000000000000000000,01000000101011001100110011001101,01000000101100000000000000000000,01000000100111001100110011001101,01000000101100000000000000000000,01000000101000110011001100110011
carbon,01000010100011111001100110011010,01000010100001010110101110000101,01000010100010110110000101001000,01000010010111000001010001111011,01000010100011000101011100001010,01000010100010101101011100001010,01000010100101111100110011001101,01000010100111010011001100110011,01000010101000111100110011001101,01000010101001101111101011100001,...,01000010011000101100110011001101,01000010010111000000000000000000,01000010011110011001100110011010,01000010100000110011100001010010,01000010011011100110011001100110,01000010100000011100110011001101,01000010100001010110011001100110,01000010011001111001100110011010,01000010011101100110011001100110,01000010011110011001100110011010
nitrgn,00111111100100001010001111010111,00111111101100110011001100110011,00111111101000000000000000000000,00111111100100110011001100110011,00111111110001010001111010111000,00111111101000010100011110101110,00111111110000000000000000000000,00111111110000000000000000000000,00111111101100110011001100110011,00111111110010111000010100011111,...,01000000000000000000000000000000,00111111111100110011001100110011,00111111100110011001100110011010,00111111101010100011110101110001,00111111100110011001100110011010,00111111101001100110011001100110,00111111101001100110011001100110,00111111100110011001100110011010,00111111100110011001100110011010,00111111100110011001100110011010
oxygen,01000001100101110100011110101110,01000001101100001100110011001101,01000000110000100011110101110001,01000000110110001111010111000011,01000001011011001100110011001101,01000001000000000000000000000000,01000000101010011001100110011010,01000000101010011001100110011010,01000000110000110011001100110011,01000000101011001100110011001101,...,01000001100110011001100110011010,01000001101011110011001100110011,01000001011110000000000000000000,01000001100001011001100110011010,01000001011100011001100110011010,01000001010111100110011001100110,01000001011100000000000000000000,01000001010001001100110011001101,01000001011000000000000000000000,01000001011000011001100110011010
sulfur,00111110111000010100011110101110,00111111000110011001100110011010,01000000101001110101110000101001,01000000101001000010100011110110,00111111100100110011001100110011,00111111101000101000111101011100,00111111000000000000000000000000,00111111011001100110011001100110,00111111010011001100110011001101,00111111101000000000000000000000,...,01000000110100110011001100110011,01000000100000110011001100110011,00111111100000000000000000000000,00111111101001010001111010111000,00111111000000000000000000000000,00111111000000000000000000000000,00111111000110011001100110011010,00111111001100110011001100110011,00111110110011001100110011001101,00111110110011001100110011001101

In [12]:
df4 = df3[0]
df4.to_csv('binaryimage.csv')

In [45]:
# creating an empty list and appending numbers of empty list within it
l = []
for i in range(6582):
	l.append([])

print(len(l))
l[0:10]

6582

[[], [], [], [], [], [], [], [], [], []]

In [46]:
for x in df3.columns:
	l[x] = [y for y in df3[x]]

l[0]

['01000000110111110101110000101001',
 '01000010000001000001010001111011',
 '01000010011001011010111000010100',
 '01000000001001010001111010111000',
 '01000000101001000111101011100001',
 '01000010100011111001100110011010',
 '00111111100100001010001111010111',
 '01000001100101110100011110101110',
 '00111110111000010100011110101110']

In [47]:
data = []
for i in range(len(l)):
    data.append([])
    
print(data[0:20])
len(data)

[[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]

6582

In [48]:
n=0
for list in l: # entering into nested list
    for string in list: # entering into string
        for value in string: # entering into value of the string
            data[n].append(value)
    n=n+1

In [49]:
print(data[0])

['0', '1', '0', '0', '0', '0', '0', '0', '1', '1', '0', '1', '1', '1', '1', '1', '0', '1', '0', '1', '1', '1', '0', '0', '0', '0', '1', '0', '1', '0', '0', '1', '0', '1', '0', '0', '0', '0', '1', '0', '0', '0', '0', '0', '0', '1', '0', '0', '0', '0', '0', '1', '0', '1', '0', '0', '0', '1', '1', '1', '1', '0', '1', '1', '0', '1', '0', '0', '0', '0', '1', '0', '0', '1', '1', '0', '0', '1', '0', '1', '1', '0', '1', '0', '1', '1', '1', '0', '0', '0', '0', '1', '0', '1', '0', '0', '0', '1', '0', '0', '0', '0', '0', '0', '0', '0', '1', '0', '0', '1', '0', '1', '0', '0', '0', '1', '1', '1', '1', '0', '1', '0', '1', '1', '1', '0', '0', '0', '0', '1', '0', '0', '0', '0', '0', '0', '1', '0', '1', '0', '0', '1', '0', '0', '0', '1', '1', '1', '1', '0', '1', '0', '1', '1', '1', '0', '0', '0', '0', '1', '0', '1', '0', '0', '0', '0', '1', '0', '1', '0', '0', '0', '1', '1', '1', '1', '1', '0', '0', '1', '1', '0', '0', '1', '1', '0', '0', '1', '1', '0', '1', '0', '0', '0', '1', '1', '1', '1', '1', '1', '1', '0', '0', '1', '0', '0', '0', '0', '1', '0', '1', '0', '0', '0', '1', '1', '1', '1', '0', '1', '0', '1', '1', '1', '0', '1', '0', '0', '0', '0', '0', '1', '1', '0', '0', '1', '0', '1', '1', '1', '0', '1', '0', '0', '0', '1', '1', '1', '1', '0', '1', '0', '1', '1', '1', '0', '0', '0', '1', '1', '1', '1', '1', '0', '1', '1', '1', '0', '0', '0', '0', '1', '0', '1', '0', '0', '0', '1', '1', '1', '1', '0', '1', '0', '1', '1', '1', '0']

In [50]:
#converting every 0/1 string value to integer
for list in data:
    for i in range(0, len(list)): 
        list[i] = int(list[i])

In [51]:
print(data[0])
len(data[0])

[0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0]

288

In [52]:
# converting 1 to 255
for i in range(len(data)):
	for j in range(len(data[i])):
		data[i][j] = data[i][j]*255
print(data[0])

[0, 255, 0, 0, 0, 0, 0, 0, 255, 255, 0, 255, 255, 255, 255, 255, 0, 255, 0, 255, 255, 255, 0, 0, 0, 0, 255, 0, 255, 0, 0, 255, 0, 255, 0, 0, 0, 0, 255, 0, 0, 0, 0, 0, 0, 255, 0, 0, 0, 0, 0, 255, 0, 255, 0, 0, 0, 255, 255, 255, 255, 0, 255, 255, 0, 255, 0, 0, 0, 0, 255, 0, 0, 255, 255, 0, 0, 255, 0, 255, 255, 0, 255, 0, 255, 255, 255, 0, 0, 0, 0, 255, 0, 255, 0, 0, 0, 255, 0, 0, 0, 0, 0, 0, 0, 0, 255, 0, 0, 255, 0, 255, 0, 0, 0, 255, 255, 255, 255, 0, 255, 0, 255, 255, 255, 0, 0, 0, 0, 255, 0, 0, 0, 0, 0, 0, 255, 0, 255, 0, 0, 255, 0, 0, 0, 255, 255, 255, 255, 0, 255, 0, 255, 255, 255, 0, 0, 0, 0, 255, 0, 255, 0, 0, 0, 0, 255, 0, 255, 0, 0, 0, 255, 255, 255, 255, 255, 0, 0, 255, 255, 0, 0, 255, 255, 0, 0, 255, 255, 0, 255, 0, 0, 0, 255, 255, 255, 255, 255, 255, 255, 0, 0, 255, 0, 0, 0, 0, 255, 0, 255, 0, 0, 0, 255, 255, 255, 255, 0, 255, 0, 255, 255, 255, 0, 255, 0, 0, 0, 0, 0, 255, 255, 0, 0, 255, 0, 255, 255, 255, 0, 255, 0, 0, 0, 255, 255, 255, 255, 0, 255, 0, 255, 255, 255, 0, 0, 0, 255, 255, 255, 255, 255, 0, 255, 255, 255, 0, 0, 0, 0, 255, 0, 255, 0, 0, 0, 255, 255, 255, 255, 0, 255, 0, 255, 255, 255, 0]

In [55]:
# creating image using binary list
import matplotlib.cm as cm

for i in range(len(data)):
    img = np.array(data[i]).reshape(9, 32)
    plt.imsave('images_2\%d.png'%(i+1), img, cmap=cm.gray)

In [ ]:
# for i in range(len(data)):
#     img = np.array(data[i]).reshape(9,32)
#     plt.imsave("images/{}.jpg".format(i), img, cmap="gray_r")

In [ ]:
# from PIL import Image
# width = 32
# height = 9

# # Image.open() can also open other image types
# img = Image.open("images_2/1.jpg")
# # WIDTH and HEIGHT are integers
# resized_img = img.resize((width*10, height*10))
# resized_img.save("resized_image.jpg",)

In [56]:
# code for converting image to higher resolution
import cv2
width = 32
height = 9
dimention = (width*20, height*20)

for i in range(len(data)):
	img = cv2.imread("images_2/%d.png"%(i+1))
	resized_img = cv2.resize(img, dimention, interpolation = cv2.INTER_AREA)
	cv2.imwrite("images_3\%d.jpg"%(i+1), resized_img)

In [69]:
testing_img = cv2.imread("images_3/1.jpg")
testing_img.shape

(180, 640, 3)